*{
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
}
.navbar-nav{
    margin-left: 10%;
}
.demo > a{
    padding-right: 100px;
}
.form-control{
    width: 600px;
}
.collapse{
    margin-left: 100px;
}
footer{
    position: fixed;
    bottom: 0;
    text-align: center;
    background-color: black;
    color: white;
    width: 100%;
    padding: 10px;
}
footer > h4{
    font-size: 14px;
}
.card{
    margin:30px 20px 0 30px;
    min-width: 70px;
    position:static;
}
section{
    display: flex;
    justify-content: space-around;
}
.container{
    margin-top: 10px;
    text-align:justify;
}
.demo-1{
    max-width: 200px;
    justify-content: center;
    align-items: center;
    margin-left: 200px;
    min-width: 60px;
}